@import "compass/css3";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  box-sizing: border-box;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
} */

body {
  /* background: url(https://subtlepatterns.com/patterns/use_your_illusion.png); */
  background: #cad1d6;
  color: black;
  font: 1em "Josefin Sans", sans-serif;
}

::selection {
  background-color: #4ec6de;
}

.tabbed {
  width: 700px;
  margin: 50px auto;
}

.tabbed > input {
  display: none;
}

.tabbed > label {
  display: block;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  background: #4ec6de;
}

.tabs {
  clear: both;
  perspective: 600px;
}

.tabs > div {
  width: 700px;
  position: absolute;
  /* border: 2px solid #4ec6de; */
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity 0.3s, transform 1s;
  z-index: 0;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3) {
  transform: rotateX(0);
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .tabbed {
    width: 400px;
  }

  .tabbed > label {
    display: none;
  }

  .tabs > div {
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }

  .tabs > div h2 {
    border-bottom: 2px solid #4ec6de;
    padding-bottom: 0.5em;
  }
}

.username {
  margin-top: 10px;
  float: left;
  margin-left: 600px;
  font-size: 18px;
}

.badge {
  margin-top: 10px;
  font-size: 18px;
}

.container {
  margin-left: 20%;
  margin-right: 15%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.buttonC {
  margin-left: 4.5%;
  background-color: white;
  color: black;
  border: 2px solid #4ec6de;
  border-radius: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
}

.buttonC:hover {
  background-color: #4ec6de;
  border: 2px solid white;
}

.clear_button {
  float: right;
  margin-top: 15px;
  margin-bottom: 2px;
}

#timeTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#timeTable td,
#timeTable th {
  border: 1px solid #4ec6de;
  padding: 8px;
}

#timeTable tr:hover {
  background-color: #4ec6de;
}

#timeTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4ec6de;
  color: white;
}

.searchBox {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  /* transform: translate(-50%, 50%); */
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  margin-bottom: 10%;
  margin-top: -7%;
}

.searchBox > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  margin-top: -10px;
  margin-right: -7px;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  margin-top: -10px;
  margin-right: -7px;
}

@media screen and (max-width: 620px) {
  .searchBox > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
