@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

body {
  /* background: url(https://subtlepatterns.com/patterns/use_your_illusion.png); */
  color: black;
  background: #cad1d6;
  font: 1em "Josefin Sans", sans-serif;
  width: 600px;
}

h1 {
  font-size: 20px;
  margin-left: 15px;
  float: left;
  text-align: center;
  margin-top: 16px;
}

.mom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 10px;
}

#tab_detail {
  width: 200px;
  margin-left: 10px;
  margin-right: 20px;
  text-align: center;
}

#tab_favicon {
  height: 22px;
  width: 22px;
  margin-left: 35px;
  margin-top: 10px;
  background-color: #eee;
  border-radius: 5px;
}

#hashtag {
  margin-top: 10px;
  margin-left: 20px;
}

#tab_domain {
  text-align: center;
  margin-top: 12px;
  margin-left: 50px;
  width: 200px;
}

#total_time {
  margin-top: 6px;
  margin-left: 15px;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

#timeTableDiv {
  margin-left: 10%;
  margin-bottom: 10px;
}

.heart {
  width: 125px;
  height: 100px;
  position: absolute;
  outline: none;
  transform: translate(380%, -30%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png)
    no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}

/* .heart:hover {
    background-position: -2800px 0;
    transition: background 1s steps(28);
  } */
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -2800px 0;
  }
}

.hr-theme-slash-2 {
  display: flex;
}

.hr-line {
  width: 100%;
  position: relative;
  margin: 15px;
  border-bottom: 1px solid #000;
}

.hr-icon {
  position: relative;
  top: 3px;
  color: rgb(226, 17, 86);
}

#input_text input {
  margin: 0 0.25rem;
  min-width: 125px;
  border: 1px solid rgb(19, 18, 18);
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
}

#input_text input:required {
  border-left-color: palegreen;
}

#input_text input:invalid {
  border-left-color: #4ec6de;
}

.button {
  margin-left: 4.5%;
  background-color: white;
  color: black;
  border: 2px solid #4ec6de;
  border-radius: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
}

.button:hover {
  background-color: #4ec6de;
  border: 2px solid white;
}

.button_insight {
  margin-left: 35%;
  margin-bottom: 10px;
}

.button_login {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 30px;
}

.container_login {
  margin-left: 13%;
}
